.space-around {
    padding: 50px;
}

.no-padding-left {
    padding-left: 0;
}

.margin-down {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 5%;
}
.margin-right {
    margin-right: 2%;
}

.position-right {
    position: relative;
    right: 10px;
}