<header class="house-listing-top">
    <h1 class="text-center">{{ listing.title }}</h1>
</header>

<main class="container">
    <div class="row">
        <section class="col-md-8">
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus aperiam, recusandae numquam totam, qui velit fuga voluptates sit neque quaerat vel nemo nobis modi quas omnis, molestias voluptatibus! Aut, eos?</p>
        </section>
        <section class="col-md-4">
            <!-- Map -->
            <!-- section to add to house -->
        </section>
    </div>
</main>